# Python
__pycache__/
*.py[cod]
*.so

# Virtual environments
venv/
env/
.venv/
.env/

# Anaconda environment folders
*.conda
*.ipynb_checkpoints/
envs/
.conda/
.condarc

# JetBrains / PyCharm
.idea/
*.iml

# VS Code
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db
Desktop.ini
