# Byte-compiled / cache files
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Environment and virtual environments
.env
.venv/
venv/
env/

# Conda
.conda/
*.conda
*.ipynb_checkpoints/
envs/
.condarc

# IDEs
.idea/
.vscode/
*.iml

# System files
.DS_Store
Thumbs.db
Desktop.ini

# Docker & large files
*.tar
*.log
logs/

# Optional: model files
ml_model/model.pkl

# Git
.git

# Tests (only if not included in repo)
tests/

# Ignore all model files by default
*.pkl